*{
    margin: 0;
    padding: 0;
}
body {
    
    width: 100%;
    height: 100%;
    position: fixed;
    font-family: 'Pacifico', cursive;
    /* background-color:bisque; */
    /* background-color: linear-gradient(to left, rgb(195, 14, 14) 100%); */
    
}
.conteiner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    position: relative;
    background: linear-gradient(to right, blue, pink);
}

/* Задаем размер и форму блоков начала и конц игры */
.space {
    width: 420px;
    height: 420px;
    border-radius: 20%;
}

/* -------------------------- Блок старт ------------------------------------ */
.start {
    /* background-color: rgb(140, 213, 155); */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
.startLogo {
    width: 100%;
}
.textStart {
    margin: 20px;
}
.start button, .btnRestart, .btnRestart2 {
    width: 300px;
    background: #ffcc00;
    color: #0066cc;
    font-size: 3vmin;
    font-weight: bold;
    cursor: pointer;
    width: 20vmin;
    border-radius: 1.5vmin;
    text-align: center;
    box-shadow: 1vmin 1vmin 2vmin #0066cc;
    transition: transform 0.15s;
    padding: 1vmin;
    border: 0.2vmin #0066cc;
    border-style: groove;
    margin-top: 20px;

}
.start button:hover {
    border-style: outset;
    color: #ffcc00;
    background: #0066cc;
    box-shadow: 1vmin 1vmin 2vmin #ffcc00;
    padding: 1vmin;
    border: 0.2vmin #0066cc;
    border-style: groove;
  }
.start button:active {
    transform: translate(1vmin, 1vmin);
    box-shadow: 0.2vmin 0.2vmin 2vmin #ffcc00;
}
/* -------------------------------- */
.bg1 {
    width: 25%;
    margin-top: 30%;
    margin-left: 100px;
    
}
.bg2 {
    width: 30%;
    margin-left: 100px;
    max-height: 100%;

}


/* -------------------------- Игровое пространство ------------------------------------ */
.game_block {
    width: 30%;
    min-width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    display: none;
}
/* Надпись с лого вверху */
.title {
width: 80%;
height: auto;
margin: auto;
margin-top: 20px;
margin-bottom: 50px;
}
.title img {
    width: 100%;
}
/* Информационный блок (жизни таймер очки и звук */
.info {
    width: 420px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.info div {
    width: 25%;
    text-align: center;
    white-space: nowrap;

}
.timer {
    font-size: 30px;
}
.lifes {
    display: flex;
}
.lifes span {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: url(img/life.png);
    background-size: cover;
}
.score{
    width: auto;
    height: auto;
    padding: 5px 5px;
    font-size: 20px;
    color: #383939;
    border: 2px solid;
    border-color: #383939;
    border-radius: 10px 20px;
    background-color: #eed249;
}
.score p {
    margin: 0;
}
.sound {
    width: 40px;
    height: 40px;
    background: none;
    border: none;
}
.sound img {
    width: 100%;
    height: 100%;
    background: none;
}

/* Игровое поле */
.board {
    width: 420px;
    height: 420px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    padding: 2px;
    border-radius: 10%;
    
}
.hole {
    width: 30%;
    height: 30%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    box-sizing: border-box;
    background-color: rgb(56, 57, 57);
    box-shadow: 10px 0px 1px;
    overflow: hidden;
    display: flex;
    /* justify-content: center; */
    align-items: flex-end;
   
}
#jerry {
    height: 80%;
    width: 80%;
}
#spike {
    height: auto;
    width: 100%;
    margin: 0 auto;
}
.cursor{
    height: 80px;
    width: 80px;
    position: absolute;
    top: 150px;
    left: 150px;
    /* background-image: url('img/cursor3.png'); */
    background-image: none;
    background-size: 100% 100%;
    transform: translate(0%, -30%);
    transition: transform .1s;
    pointer-events: none;
    display: block;
}
.cursor.active{
    transform: translate(0%, -60%) rotate(-60deg);
}

/* -------------------------- Блоки окончания игры ------------------------ */
.gameWin, .endGame {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    display: none;
}
.gameWin img, .endGame img {
    width: 100%;
}
.gameWin, .endGame button {
    font-size: 28px;
}

@media (max-width: 1200px) {
    .bg1, .bg2 {
        display: none;
    }
    .conteiner {
        justify-content: center;
    }
    .game_block {
        height: 100%;
        justify-content: space-around;
    }
    .title {
        margin: 0;
    }
    .start button, .btnRestart, .btnRestart2 {
        width: 200px;
        padding: 20px;
    
    }
}
@media (max-width: 767px) {
    .board {
        width: 410px;
        height: 410px;
        box-sizing: border-box;
    }
    .game_block {
        width: 90%;
        justify-content: start;
    }
}
@media (max-width: 449px) {
    .hole {
        box-shadow: none;
    }
    
}